*{
    margin: 0;
    box-sizing: border-box;

}
.container{
    width: 80%;
    height: 60vh;
    background-color: aqua;
    margin: 20px auto;
    display: flex;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.container .box{
    background-color: blue;
}